@page
@model DemoProject.Web.Pages.Departments.Category.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Showing all (@Model.Tbl_Departments_Category.Count()) Categories</h1>

<p>
    <a asp-page="Create">@DateTime.Today.Date</a>
</p>

<div class="row text-center">

    @{int x = Model.Tbl_Departments_Category.Count();
        if (x == 0)
        {<div class="text-center">"No Records found" </div>}}

    @for (var i = 0; i < Model.Tbl_Departments_Category.Count(); i++)
    {
        var url = Model.Tbl_Departments_Category[i].Category_Name;

        var url2 = "Categories";// ViewBag.Dept;
        url = url.Replace(" ", "_");
        url2 = url2.Replace(" ", "_");


        <div class="col-md-4 text-center   classify">

            <a href="@Model.Tbl_Departments_Category[i].Description_Short">
                @Model.Tbl_Departments_Category[i].Category_Name<br />
                <div>
                    <img src="~/images/Products_Categories/@(Model.Tbl_Departments_Category[i].CategoryID).png" alt="@(Model.Tbl_Departments_Category[i].Category_Name)" class="img-fluid" />
                    <br />

                    @*   @Model[i].Products.DepartID*@
                    @*  @Model[i].Products.Products_Name*@

                    <br /><div class="small">@Model.Tbl_Departments_Category[i].Description_Short</div>
                </div>
            </a><br /><hr />

        </div>
        @for (i = i + 1; i < Model.Tbl_Departments_Category.Count(); i++)
        {
            url = (Model.Tbl_Departments_Category[i].Category_Name);
            url = url.Replace(" ", "_");

            <div class="col-md-4 text-center summary classify">

                <a href="">
                    @Model.Tbl_Departments_Category[i].Category_Name<br />
                    <div>
                        <img src="~/images/Products_Categories/@(Model.Tbl_Departments_Category[i].CategoryID).png" alt="@(Model.Tbl_Departments_Category[i].Category_Name)" class="img-fluid" />
                        <br />

                        @*@Model[i].Products.DepartID*@
                        @*   @Model[i].Products.Products_Name*@
                        @switch (i)
                        {
                            case 1:
                                <div>@Model.Tbl_Departments_Category[i].Category_Name (</div>;
                                break;
                            default:

                                @Model.Tbl_Departments_Category[i].Category_Name

                                break;
                                //case 'D':
                                //    "ehn ehn";
                                //    break;
                                //case 'F':
                                //    "lizzie";
                                //    break;
                                //default:
                                //    "Console.WriteLine()";
                                //    break;
                        } "Categories";



                    </div>          <br />@Model.Tbl_Departments_Category[i].Description_Short
                </a><br /><hr />

            </div>

        }
        @*}*@
        if (i % 3 == 2)
        {
            <br />
        }
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Tbl_Departments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].ProductCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Category_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Description_Short)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Description_Long)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Departments_Category[0].IsEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tbl_Departments_Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_Departments.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Short)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
